#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-brand__name a {
  font-size: 16px;
}
#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .mbr-brand__name a {
  font-size: 16px;
}
#header1-a P {
  font-size: 18px;
}
#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .mbr-brand__name a {
  font-size: 16px;
}
#msg-box1-f .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-f .mbr-article {
  color: #fff;
}
